html,
#root,
body {
  height: 100%;
  width: 100%;
}

.tool-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-gap: 50px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-gap: 50px;
}
.word-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  max-width: 90%;
}

.score-container {
  font-size: 30px;
  transition: all 100ms;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container.big {
  font-size: 50px;
}

.character-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 40px;
  aspect-ratio: 1/1;
  font-size: 32px;
  overflow: hidden;
}

.character-container.good {
  background-color: darkblue;
  color: whitesmoke;
}

.character-container input {
  aspect-ratio: 1/1;
  font-size: 32px;
  outline: none;
  text-align: center;
  border: none;
}

.character-container input:focus,
.character-container textarea:focus,
.character-container select:focus {
  outline: none;
}
